body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    background-color: antiquewhite;
    margin-bottom: 40px;
}

.servicios{
    background-color: azure;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.noticias {
    background-color: rgb(14, 6, 83);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    color: white;
    padding-top: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
    padding-right: 0px;
}

.miembros {
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.footer{
    background-color: rosybrown;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.barra-superior{
    display: flex; /* uno al laod del otro */
    align-items: center;
    height: 100px;
}

.titulo-principal .contenedor-menu{
width:50%;

}

.contenedor-menu{
    display: flex;

}

.menu-principal{
    display: flex;
    list-style: none;

}


.menu-prinicpal__item >a:hover{
    font-size: 20px;
    text-decoration: underline;

}

.baner{
    display: flex;
    justify-content: center;
    align-items: center;

}



.baner__titulo{
    position: absolute;
    color:wheat;
}


.servicios__contenedor{

}

.noticia{
    display: flex;
}