body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header{
    background-color: rgb(22, 37, 109);
    
    
}

.servicios{
    background-color:rgb(22, 37, 109);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.noticias {
    background-color: rgb(14, 6, 83);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
    margin-top: 40px;
    color: white;
    padding-top: 1em;
    padding-left: 0px;
    padding-bottom: 1em;
    padding-right: 0px;
}

.miembros {
    background-color: rgb(22, 37, 109);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    padding-top: 10px;
}
    


.footer{
    background-color: #E84A5F;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 20px;
}

.barra-superior{
    display: flex; /* uno al laod del otro */
    align-items: center;
    height: 100px;
    
    
}

.titulo-principal, .contenedor-menu{
width:50%;
}

.titulo-principal{
    padding-left: 100px;
    background-color: #E84A5F;
    height: 100px;
    color: white;
    /* padding-top: 25px; */
    width: 25%;
    
    
}

.contenedor-menu{
    display: flex;
    padding-left: 150px;
    height: 100px;
    padding-top: 25px;
    width: 75%;

}

.menu-principal{
    display: flex;
    list-style: none;
    color: white;

}
.menu-prinicpal__item{
    padding: 15px;
    color: white;
    
}



.menu-prinicpal__item >a:hover,a:link, a:visited, a:active{
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.baner{
    display: flex;
    justify-content: center;
    align-items: center;

}



.baner__titulo{
    position: absolute;
    color:wheat;
}


.servicios__contenedor{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 550px;

}

.noticia{
    display: flex;
}

.miembros__contenedor{

    padding: 5px;
    justify-content: center;
    
}
.sectionTitle {   
    background-color: white;
    text-align: center;
    margin: 0px;
    
   
    
}

.sectionTitle h2:first-child{
    margin-block-start: 4px;
    margin-block-end: 4px;
}
.titulo-principal h1:first-child{
    margin-top: 40px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.footer_right{
    display: flex;
    padding-right: 20px;  

}
.footer_right-item{
    
    width: 600px;
}

.footer_right{
    width:50%;
    }

.footer_left-item{
    width: 400px;
}

.footer_left{
    width: 50%;
    padding-left: 100px;
    padding-bottom: 50px;
} 



